body{
	background:#fff;
}

#sortable_slides_imgs { list-style-type: none; margin: 0; padding: 0; width: 100%;max-width: 980px; }
  #sortable_slides_imgs li { margin:1%; padding: 1px; float: left; width: 150px; height:150px;
    text-align: center; }

.empty_image{
	max-width: 100px;
} 
.wp_attachment_details.edit-form-section p.media-types.media-types-required-info{
	display: none !important;
}
table tbody tr.compat-field-slider_touchable_caption_content th.label span,
table tbody tr.compat-field-slider_touchable_caption_content th.label ,
tr.compat-field-slider_touchable_caption_content th.label span ,
table tbody  tr th.label span{
color: #3a3a3a !important;
font-size: 13px;
}


div.inside 
div.attachments-browser.hide-sidebar.sidebar-for-errors.wp_slider_touchable_container.row 
div.slider-ui-container div.tabs-content div.tab-pane.active.tab-content.current.active 
div.slider-ui-subcontainer li.col-sm-2{
	width: 150px;
	height: 150px;  
	float: left;
	position: relative; 
	margin: 2% 1%;
	padding: 3px;
	border:1px solid #069efc;
	background: #fff;
	img{
		max-width: 120px;
		margin-top: 0.3%;
		max-height: 120px;
		margin-left: 7%
	}
	
}
#wp_slider_touchable .inside{
	position: relative;
	float: left;
	height: 100%;
	min-height: 550px;
	
}
label.lbl_upload_qiuity_slider{
		width: 10%;
		position: relative;
		float: left;
}
#postbox-container-2.postbox-container{
	border-color: #adadad;
	border-width: 2px;
	border-style:solid;
	border-top: none; 
}
#modal_caption{
	label{
		width: 100%;
	}
}
.modal,
.modal.fade .modal-dialog, .fade{ 
	opacity: 1;
}
.modal-dialog{
	margin-top: 5%;
}
div#qiuty_modal_admin_panel.modal.fade,div#qiuty_modal_admin_panel {
	background: rgba(0, 0, 0, 0.49);
	z-index: 9999 !important;
	width: 100%;
}
span.btn-font-close{
	font-size: 23px; 
}
.tab-content{
	display: none; 
	padding: 15px;height: 100% !important;min-height: 560px;background: #ffcd85;
	position: relative;
}
.tab-content.current.active{
	display: inherit;height: 100% !important;min-height: 560px;background: #ffcd85;
	position: relative;
} 
#wp_slider_touchable .inside{
	width: 100%;
	height: 100% !important;min-height: 560px; 
	position: relative;
	float: left;
	.wp-filter{
		width: 90% !important;
	}
} 
.nav-tabs>li>a{
	background: #fff;
}
#wp_slider_touchable .media-toolbar.wp-filter{
	 background: #fff;
}
ul#sortable_slides_imgs.ui-sortable{
	width: 100%;
}
#footer-upgrade{
	display: none !important;
	opacity: 0;
	visibility: hidden;
}
textarea#slider_touchable_object{ 
	 z-index: 0;
}
div.media-toolbar.wp-filter{
	position: relative;
}
span.btn-icon-remove{
	background:url('../../../images/btn_close.svg'); 
	cursor: pointer;
	width: 35px;
	height: 35px;  
	position:relative;
	float:left;
	background-size:cover;
}
span.btn-icon-remove:active , span.btn-icon-remove:focus,
span.btn-icon-remove:visited,span.btn-icon-remove:hover{
	background:url('../../../images/btn_close_active.svg'); 
	cursor: pointer;
	width: 35px;
	height: 35px;  
	position:relative;
	float:left;
	background-size:cover;
}
td.media-icon img[src$='.svg'], img[src$='.svg'].attachment-post-thumbnail { 
	width: 100% !important; 
	height: auto !important; 
}
span.btn-icon-move{
	background:url('../../../images/btn_move.svg'); 
	cursor: move;
	width: 35px;
	height: 35px;  
	position:relative;
	float:left;
	background-size:cover; 
}
span.btn-icon-move:hover , span.btn-icon-move:active ,
span.btn-icon-move:focus , span.btn-icon-move:visited{
	background:url('../../../images/btn_move_active.svg'); 
	cursor: move;
	width: 35px;
	height: 35px;  
	position:relative;
	float:left;
	background-size:cover;
}
span.btn-icon-edit{
	background:url('../../../images/btn_edit.svg'); 
	cursor: move;
	width: 35px;
	height: 35px;  
	position:relative;
	float:left;
	background-size:cover; 
}
span.btn-icon-edit:hover , span.btn-icon-edit:active ,
span.btn-icon-edit:focus , span.btn-icon-edit:visited{
	background:url('../../../images/btn_edit_active.svg'); 
	cursor: pointer;
	width: 35px;
	height: 35px;  
	position:relative;
	float:left;
	background-size:cover;
}
#modal_caption.opened{
	display: block;
	background: #0d0c0ca6;
}
#titlediv #title-prompt-text{
	padding: 2px 10px !important;
}
#wpfooter{
	position: relative !important;
}
